@font-face {
    font-family: titulo;
    src: url(../Fonts/Minecrafter.Alt.ttf);
}
@font-face {
    font-family: encode;
    src: url(../Fonts/EncodeSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: inicio;
    src: url(../Fonts/04B_30__.TTF);
}
.cuerpo{
    background-color: #009AAE;
    
    
}

/*index*/
.encabezado-index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: encode;
    margin: 10px;
    color: #009AAE;
    margin-bottom: 20px;
}
.encabezado-index h1, .encabezado-index h2{
    font-size: 3vh;
}

.subtitulo-index{
    font-size: 4vh;
    font-family: encode;
    color: #E8EDDF;
    text-align: center;
}
.menu-inicio{
    background-color: #009AAE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0;
    box-shadow: 5px 10px 5px 5px rgb(65 64 66);
}
.inicio{
    font-size: 5vh;
    font-family: inicio;
    color:burlywood;
    text-decoration: none;

}
.inicio:hover{
    color: #E8EDDF;
}
.pac-man{
    width: 750px;
    margin-bottom: 50px;
}



/*Juego*/
header{
   display: flex;
   align-items: center;
   box-shadow: 0 5px 5px 0px rgb(65 64 66);
   margin-bottom: 5px;
   background-color: #E8EDDF;
   justify-content: space-around;
   
}
.logo{
    width: 300px;
    
}
.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo{
    font-family: encode;
    color: #009AAE;
    font-size: 3vh;
}

/*Main*/
.cuerpo-juego{
    background-color: #E8EDDF;
    border-style:double;
    position: relative;
    height: 780px;
    
}
.imagen{
    display: flex;   
    justify-content: center;  
}
.diente{
    width: 500px;
}


.juego{
    text-align: center;    
    display: flex;
    flex-direction: column;
}
.pregunta{
    font-family: titulo;
    font-size: 35px;
    color: #009AAE;
}
.opcion{
    list-style: none;
    font-size: 20px;
    border-style:solid ;
    margin-top: 25px;
    border-radius: 2vh;
    font-family: titulo;
    background-color: #009AAE ;
    color: #E8EDDF;
    cursor: pointer;
}

.opcion:hover{
    background-color: #E8EDDF ;
    color: #009AAE;
}
/*footer*/
footer{
    background-color: #E8EDDF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    margin-top: 12px;

    
   
    
}
.logo-footer{
    width: 60px;
}
.pie-parrafo{
    font-family: encode;
    color: #009AAE;
    font-size: 2vh;
}

/*Responsive*/


@media screen and (max-width: 1024px){
    .cuerpo-juego{
        height: 1000px;
    }
    .encabezado-index img{
        width: 150px;
    }
    .encabezado-index h1, .encabezado-index h2{
        font-size: 2vh;
    }
    .pac-man{
        width: 500px;
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 768px){
    /*index*/
    .body-index{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .encabezado-index h1, .encabezado-index h2{
        font-size: 1vh;
    }
    .pac-man{
        width: 300px;
        margin-bottom: 50px;
    }
    .logo-region{
        width: 100px;
    }
    .pie-parrafo{
        font-size: 1vh;
    }
    /*Juego*/
    .cuerpo-juego{
        height: auto;
    }
.titulo{
    font-size: 1.5vh;
    
}
.pregunta{
        font-size: 20px;
}
.diente{
    width: 400px;
}
.opcion{
    font-size: 15px;
}
.logo{
    width: 200px;
}
footer{
    height: 400px;
}
}

@media screen and (max-width: 384px){
    .encabezado-index img{
        width: 150px;
    }
    .encabezado-index h1, .encabezado-index h2{
        font-size: 10px;
    }
    .pac-man{
        width: 250px;
        margin-bottom: 50px;
    }
    .pie-parrafo{
        font-size: 12px;
    }

}

@media screen and (max-height: 850px){
    footer{
        height: 200px;
    }
}